In [1]:
#Add the Pandas dependency - SCHOOL DATA
#check to see if we are able to load and see the school data
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [2]:
#Add the Pandas dependency - SCHOOL DATA
#check to see how much data we have in this file
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

NameError: name 'student_data_df' is not defined

In [4]:
#Add the Pandas dependency -STUDENT DATA - check the count for student data
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
students_data_df = pd.read_csv(students_data_to_load)
# Determine if there are any missing values in the student data.
students_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [5]:
#Add the Pandas dependency - STUDENT DATA - check to see if there any cells blank in student data
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
students_data_df = pd.read_csv(students_data_to_load)
students_data_df.count()
# Determine if there are any missing values in the school data.
students_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [6]:
#Add the Pandas dependency - SCHOOL DATA- check to see if there any blanks
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# Determine if there are any missing values in the school data.
school_data_df.count()

# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [7]:
#Add the Pandas dependency - STUDENT DATA - Get numbers for cells with null data to correct them and add 0 or add value needed
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
students_data_df = pd.read_csv(students_data_to_load)
students_data_df.count()
# Determine if there are any missing values(empty cells) in the school data.
students_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [8]:
#Add the Pandas dependency - SCHOOL DATA - check if there is nothing blank
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# Determine if there are any missing values in the school data.
school_data_df.count()

# Determine if there are any missing values in the school data.
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [9]:
#Add the Pandas dependency - SCHOOL DATA - get numbers to see if theres is anything blank
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# Determine if there are any missing values in the school data.
school_data_df.count()

# Determine if there are any missing values in the school data.
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [10]:
#Add the Pandas dependency - STUDENT DATA- get numbers to see if theres is anything blank
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
students_data_df = pd.read_csv(students_data_to_load)
students_data_df.count()
# Determine if there are any missing values(empty cells) in the school data.
students_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
#Add the Pandas dependency - SCHOOL DATA - find type of data for all columns
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# Determine if there are any missing values in the school data.
school_data_df.count()

#it will return a series  with the name of each column and data tpes of the values in the columns
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [ ]:
#Add the Pandas dependency - SCHOOL DATA - find type of data for one column
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# Determine if there are any missing values in the school data.
school_data_df.count()

#Attribute on a singleo column (if name doesn't have any spaces in the name)
school_data_df["budget"].dtype

In [ ]:
#Add the Pandas dependency - STUDENT DATA- find type of data for all columns
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
students_data_df = pd.read_csv(students_data_to_load)
students_data_df.count()
# Determine data types for the student DataFrame. = dtypes
students_data_df.dtypes

In [ ]:
#Add the Pandas dependency - STUDENT DATA 
#this data fixes the students name and removes prefixes and suffixes
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
students_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
students_data_df = pd.read_csv(students_data_to_load)
students_data_df.count()

# Determine data types for the student DataFrame. = dtypes
students_data_df.dtypes

# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    students_data_df["student_name"] = students_data_df["student_name"].str.replace(word,"")
    
students_data_df.head(10)
#this prints a clean students data file to continue working on it.

In [12]:
#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA - merge the two files
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
#get count of new merge data for both files
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [14]:
#In the output, we see that each column has 39,170 rows, or values. Therefore, we can choose any one of the columns and get the student count u

#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
#get count of students with new merge data for both files
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

school_data_complete_df["Student ID"].count()

39170

In [21]:

#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
#Get the number of schools in the new merge file
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

school_data_complete_df["Student ID"].count()

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
#len adds the count to the results. without it we get a list of high schools

15

In [25]:
#calculate the total budget for the whole district.

#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

school_data_complete_df["Student ID"].count()

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
#len adds the count to the results. without it we get a list of high schools

#to calculate the total budget we add all the fo them from a list. remember to use brackets
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [26]:
#get the average math and reading scores
#start with Reading scores
#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

school_data_complete_df["Student ID"].count()

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
#len adds the count to the results. without it we get a list of high schools

#to calculate the total budget we add all the fo them from a list. remember to use brackets
total_budget = school_data_df["budget"].sum()
total_budget

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [27]:
#get the average math and reading scores
#continue with math average scores
#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

school_data_complete_df["Student ID"].count()

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
#len adds the count to the results. without it we get a list of high schools

#to calculate the total budget we add all the fo them from a list. remember to use brackets
total_budget = school_data_df["budget"].sum()
total_budget

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [56]:
#get the percentage of students who passed math and reading, as well as the overall passing percentage.
#first determine the passing grade by writing the code that does the following:
#To get the percentage of students who passed math and reading, we will write code to:
##1-Determine the passing grade.
##2-Get the number of students who passed math and reading in separate DataFrames.
##3-Calculate the number of students who passed math and reading.
##4-Calculate the percentage of students who passed math and reading.

### 1- first we are determining the records that passed.


#get the average math and reading scores
#continue with math average scores
#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

student_count = school_data_complete_df["Student ID"].count()
student_count

print(student_count, "student count")

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
print(school_count_2, "school count")
#len adds the count to the results. without it we get a list of high schools

#to calculate the total budget we add all the fo them from a list. remember to use brackets
total_budget = school_data_df["budget"].sum()
total_budget
print(total_budget, "Total Budget")
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score
print (average_reading_score, "average reading score")

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score
print(average_math_score, "average math score")

###1-Determine the passing grade.

####passing score was 70 for math and reading
####math and reading scores are lists

passing_math = school_data_complete_df["math_score"] >=70
passing_math
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

##2-Get the number of students who passed math and reading in separate
#MATH
# Get all the students who are passing math in a new DataFrame by filtering
#the dataframe for the word true by adding our above code in brackets
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

##READING
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading.head()

##3 get the number of students who passed each subject
##MATH
passing_math_count = passing_math["student_name"].count()
##READING
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count,"passed math")
print(passing_reading_count, "passed reading")

##4-Calculate the percentage of students who passed math and reading.

#Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage, "math passed percentage")
print(passing_reading_percentage,"reading passed percentage")

#Calculate the overall passing number for both subjects
##first find from the list of merged records which students passed for math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

##then find the total number of students that passed both subjects
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

print(overall_passing_math_reading_count, "Students that passed both math and reading")


## finally calculate the percentage of students that passed both
overall_passing_percentage = overall_passing_math_reading_count/student_count * 100
overall_passing_percentage

print(overall_passing_percentage,"Passing percentages for students that passed both subjects")

39170 student count
15 school count
24649428 Total Budget
81.87784018381414 average reading score
78.98537145774827 average math score
29370 passed math
33610 passed reading
74.9808526933878 math passed percentage
85.80546336482001 reading passed percentage
25528 Students that passed both math and reading
65.17232575950983 Passing percentages for students that passed both subjects

In [57]:
#Now lets add all of the information above in a new DataFrame
#called district_summary_df

#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

student_count = school_data_complete_df["Student ID"].count()
student_count

print(student_count, "student count")

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
print(school_count_2, "school count")
#len adds the count to the results. without it we get a list of high schools

#to calculate the total budget we add all the fo them from a list. remember to use brackets
total_budget = school_data_df["budget"].sum()
total_budget
print(total_budget, "Total Budget")
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score
print (average_reading_score, "average reading score")

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score
print(average_math_score, "average math score")

###1-Determine the passing grade.

####passing score was 70 for math and reading
####math and reading scores are lists

passing_math = school_data_complete_df["math_score"] >=70
passing_math
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

##2-Get the number of students who passed math and reading in separate
#MATH
# Get all the students who are passing math in a new DataFrame by filtering
#the dataframe for the word true by adding our above code in brackets
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

##READING
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading.head()

##3 get the number of students who passed each subject
##MATH
passing_math_count = passing_math["student_name"].count()
##READING
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count,"passed math")
print(passing_reading_count, "passed reading")

##4-Calculate the percentage of students who passed math and reading.

#Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage, "math passed percentage")
print(passing_reading_percentage,"reading passed percentage")

#Calculate the overall passing number for both subjects
##first find from the list of merged records which students passed for math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

##then find the total number of students that passed both subjects
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

print(overall_passing_math_reading_count, "Students that passed both math and reading")


## finally calculate the percentage of students that passed both
overall_passing_percentage = overall_passing_math_reading_count/student_count * 100
overall_passing_percentage

print(overall_passing_percentage,"Passing percentages for students that passed both subjects")


## NEW DATA FRAME CALLED DISTRIC SUMMARY AS A DICTIONARY

# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

39170 student count
15 school count
24649428 Total Budget
81.87784018381414 average reading score
78.98537145774827 average math score
29370 passed math
33610 passed reading
74.9808526933878 math passed percentage
85.80546336482001 reading passed percentage
25528 Students that passed both math and reading
65.17232575950983 Passing percentages for students that passed both subjects

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [61]:
#Lets now clean up the new data frame with the correct formats for the reslt values

#Now lets add all of the information above in a new DataFrame
#called district_summary_df

#Add the Pandas dependency - STUDENT DATA & SCHOOL DATA
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(students_data_to_load)
student_data_df.count()

#Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

#school_data_complete_df["Student ID"].count()
#To assign the "student_count" to a column that identifies with students, we will use the "Student ID" column.

student_count = school_data_complete_df["Student ID"].count()
student_count

print(student_count, "student count")

#There are two ways
# 1 -Calculate the total number of schools.
# school_count = school_data_df["school_name"].count()
# school_count
# 2 - Calculate the total number of schools using unique and provide count instead of list
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2
print(school_count_2, "school count")
#len adds the count to the results. without it we get a list of high schools

#to calculate the total budget we add all the fo them from a list. remember to use brackets
total_budget = school_data_df["budget"].sum()
total_budget
print(total_budget, "Total Budget")
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score
print (average_reading_score, "average reading score")

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score
print(average_math_score, "average math score")

###1-Determine the passing grade.

####passing score was 70 for math and reading
####math and reading scores are lists

passing_math = school_data_complete_df["math_score"] >=70
passing_math
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_reading

##2-Get the number of students who passed math and reading in separate
#MATH
# Get all the students who are passing math in a new DataFrame by filtering
#the dataframe for the word true by adding our above code in brackets
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

##READING
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading.head()

##3 get the number of students who passed each subject
##MATH
passing_math_count = passing_math["student_name"].count()
##READING
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count,"passed math")
print(passing_reading_count, "passed reading")

##4-Calculate the percentage of students who passed math and reading.

#Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage, "math passed percentage")
print(passing_reading_percentage,"reading passed percentage")

#Calculate the overall passing number for both subjects
##first find from the list of merged records which students passed for math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

##then find the total number of students that passed both subjects
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

print(overall_passing_math_reading_count, "Students that passed both math and reading")


## finally calculate the percentage of students that passed both
overall_passing_percentage = overall_passing_math_reading_count/student_count * 100
overall_passing_percentage

print(overall_passing_percentage,"Passing percentages for students that passed both subjects")


## NEW DATA FRAME CALLED DISTRIC SUMMARY AS A DICTIONARY

# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

##FORMATTING DATA
#columns to two decimal places with a U.S. dollar sign, 
#and numbers larger than 999 with a thousands separator

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]
#The "Average Math Score" column will be formatted to one decimal place.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
##The "Average Reading Score" column will be formatted to one decimal place.
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
#The "% Passing Math" column will be formatted to the nearest whole number percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
#The "% Passing Reading" column will be formatted to the nearest whole number percentage.
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
#The "% Overall Passing" column will be formatted to the nearest whole number percentage.
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df.head()

39170 student count
15 school count
24649428 Total Budget
81.87784018381414 average reading score
78.98537145774827 average math score
29370 passed math
33610 passed reading
74.9808526933878 math passed percentage
85.80546336482001 reading passed percentage
25528 Students that passed both math and reading
65.17232575950983 Passing percentages for students that passed both subjects

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [ ]:
#Reorder columns if needed using the code below:
# Reorder the columns in the order you want them to appear.
###new_column_order = ["column2", "column4", "column1"]
#by excluding column three in the code above,, the columne will be left
#out in the new data frame

# Assign a new or the same DataFrame the new column order.
###df = df[new_column_order]

# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df